A.dong03:link {
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
	font-family: "������";
	font-size: 14px;
	font-weight: normal;
}
A.dong03:visited {
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
	font-family: "������";
	font-size: 14px;
}
A.dong03:hover {
	COLOR: #FFFFFF;
	TEXT-DECORATION: underline;
	font-family: "������";
	font-size: 14px;
}
A.dong03:active {
	color: #FFFFFF;
	text-decoration: none;
	font-family: "������";
	font-size: 14px;
}
.d00 {
	font-family: "������";
	font-size: 14px;
	color: #FFFFFF;
}
.d02 {
	font-family: "������";
	font-size: 12px;
	color: #000000;
}
.g01 {
	font-family: "������";
	font-size: 12px;
	color: #585353;
	line-height: 15px;
}
.g02 {
	font-family: "������";
	font-size: 16px;
	color: #FF0000;
}


A.dong05:link {
	COLOR: #FF0000;
	TEXT-DECORATION: none;
	font-family: "������";
	font-size: 12px;
	font-weight: normal;
}
A.dong05:visited {
	COLOR: #FF0000;
	TEXT-DECORATION: none;
	font-family: "������";
	font-size: 12px;
}
A.dong05:hover {
	COLOR: #000000;
	TEXT-DECORATION: underline;
	font-family: "������";
	font-size: 12px;
}
A.dong05:active {
	color: #000000;
	text-decoration: none;
	font-family: "������";
	font-size: 12px;
}
A.dong02:link {
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-family: "������";
	font-size: 12px;
	font-weight: normal;
}
A.dong02:visited {
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-family: "������";
	font-size: 12px;
}
A.dong02:hover {
	COLOR: #FF0000;
	TEXT-DECORATION: underline;
	font-family: "������";
	font-size: 12px;
}
A.dong02:active {
	color: #FF0000;
	text-decoration: none;
	font-family: "������";
	font-size: 12px;
}
.d08 {
	font-size: 18px;
	line-height: 30px;
	color: #000000;
}

A.dong06:link {
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-family: "������";
	font-size: 13px;
	font-weight: normal;
}
A.dong06:visited {
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-family: "������";
	font-size: 13px;
}
A.dong06:hover {
	COLOR: #FF0000;
	TEXT-DECORATION: underline;
	font-family: "������";
	font-size: 13px;
}
A.dong06:active {
	color: #FF0000;
	text-decoration: none;
	font-family: "������";
	font-size: 13px;
}
A.dong08:link {
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-family: "������";
	font-size: 12px;
	font-weight: normal;
	line-height: 20px;
}
A.dong08:visited {
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-family: "������";
	font-size: 12px;
	line-height: 20px;
}
A.dong08:hover {
	COLOR: #FF0000;
	TEXT-DECORATION: underline;
	font-family: "������";
	font-size: 12px;
	line-height: 20px;
}
A.dong08:active {
	color: #FF0000;
	text-decoration: none;
	font-family: "������";
	font-size: 12px;
	line-height: 20px;
}
.d06 {
	font-family: "������";
	font-size: 14px;
	color: #000000;
}
A.dong09:link {
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-family: "������";
	font-size: 12px;
	font-weight: normal;
	line-height: 20px;
}
A.dong09:visited {
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-family: "������";
	font-size: 12px;
	line-height: 20px;
}
A.dong09:hover {
	COLOR: #FF0000;
	TEXT-DECORATION: underline;
	font-family: "������";
	font-size: 12px;
	line-height: 20px;
}
A.dong09:active {
	color: #FF0000;
	text-decoration: none;
	font-family: "������";
	font-size: 12px;
	line-height: 20px;
}
.n {
	border-left-style: none;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #F4F4F4;
}
A.dong10:link {
	COLOR: #FF0000;
	TEXT-DECORATION: none;
	font-family: "������";
	font-size: 16px;
	font-weight: normal;
}
.g03 {
	font-family: "������";
	font-size: 16px;
	color: #000000;
}
.g04 {
	font-family: "������";
	font-size: 12px;
	line-height: 20px;
	color: #000000;
}

A.dong10:visited {
	COLOR: #FF0000;
	TEXT-DECORATION: none;
	font-family: "������";
	font-size: 16px;
}
A.dong10:hover {
	COLOR: #000000;
	TEXT-DECORATION: underline;
	font-family: "������";
	font-size: 16px;
}
A.dong10:active {
	color: #000000;
	text-decoration: none;
	font-family: "������";
	font-size: 16px;
}.d07 {

	font-family: "������";
	font-size: 14px;
	color: #FF0000;
}
.d061 {
	font-family: "������";
	font-size: 14px;
	color: #000000;
	line-height: 25px;
}
.d062 {
	font-family: "������";
	font-size: 14px;
	color: #FF0000;
	line-height: 25px;
}
.mouseOverStyle{
	background-image:url(../image/bgbtn1.jpg);
	color:#00FF33;
	border:0px;
	margin:0px;
	padding:0px;
	width:82px;
	height:23px;
	font-size:12px
	}
.mouseOutStyle{
	background-image:url(../image/backbutton.gif);
	color:#000000;
	border:0px;
	margin:0px;
	width:82px;
	height:23px;
	font-size:12px
	}
txtStyle {
}
.topBorder {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: dashed;
	border-top-color: #FF0000;
	font-size: 12px;
}

.top_rightBorder {
	border-top-width: 1px;
	border-right-width: 1px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-top-color: #FF0000;
	border-right-color: #FF0000;
	font-size: 12px;
}

.rightBorder {
	border-right-width: 1px;
	border-right-style: dashed;
	border-right-color: #FF0000;
	font-size: 12px;
}
.tableborder {
	background: #D6E0EF;
	border: 1px solid #698CC3;
	font-size: 12px;
}

.tableborderMes {
	border: 1px solid;
	font-size: 12px;
	border-color: #66FF99;
}
.topMes {
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color:#66FFCC;
}

.tableStyle {
	background-image: url(../image/cg5_2.jpg);
	border: 1px solid #66FFCC;
}
#tooltip{
	position:absolute;
	border:1px solid #ccc;
	padding:2px;
	display:none;
	color:#666666;
	font-weight: 100;
	background-color: #FFFFFF;
	font-size: 12px;
}
