<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <servlet>
        <servlet-name>JavaTestServlet</servlet-name>
        <servlet-class>com.t2t.top.web.JavaTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScalaTestServlet</servlet-name>
        <servlet-class>com.t2t.top.web.ScalaTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.t2t.top.web.UserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JavaTestServlet</servlet-name>
        <url-pattern>/JavaTestServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ScalaTestServlet</servlet-name>
        <url-pattern>/ScalaTestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
